<div *ngIf="barDetails" class="row">
  <div class="col-10 m-auto">
    <div class="row mt-4">
      <div
        class="col-12"
        [ngStyle]="{
          'background-color': barDetails.color
        }"
      >
        <div class="row">
          <div class="col-6 text-white p-2">Date</div>
          <div class="col-6 text-white p-2">Value</div>
        </div>
      </div>
      <div class="col-6 border-bottom p-2">
        {{ barDetails.date | date: "MMMM yyyy" }}
      </div>
      <div class="col-6 border-bottom p-2">
        {{ barDetails.value | number: "1.2-2" }}
      </div>
    </div>
  </div>
</div>
